*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    background-color: #E4F9F5;
    margin: 0 auto;
    padding: 20px;
}

.profile-image{
    width: 100px;
    height: 120px;
    border: 3px white solid;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: #119991;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    font-weight: bold;
    color: teal;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    margin: 20px auto;
    width: 100%;
    border-bottom: none;
}
/*------------------
Personal Section start
----------------------*/

#personal-section{

}
.content{
    margin-bottom: 20px;
}
.left-div{
    width: 35%;
    float: left;
}
.right-div{
    width: 65%;
    float: left;
}
.common-hr{
    border: solid black 1px;
    margin: 20 auto;
    width: 100%;
    border-bottom: none;
}
/*------------------
Education Section start
----------------------*/

.edu-template-left{
    float: left;
    width: 45%;

}
.edu-template-right{
    float: right;
    width: 45%;

}
/*------------------
Footer Section start
----------------------*/
.bottom-container{
    background-color:#994311;
    text-align: center;
    padding: 10px;
}
.bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.bottom-container p{
    color: white;
    margin-top: 20px;
}